# Versioning and metadata
.git
.gitignore
.dockerignore

# Build dependencies
dist.do
node_modules
./apps/front-mrb-nextjs/node_modules
./apps/front-mrb-nextjs/.next
libs/common/node_modules


# Environment (contains sensitive data)
*.env

# Misc
.eslintrc.js
.prettierrc
README.md